<main class="container">
  <%= link_to sanitize("&larr; Back to contestants"), contestants_path %>

  <div class="header">
    <h1>New contestant</h1>
  </div>

  <%= turbo_frame_tag @contestant do %>
    <%= render "form", contestant: @contestant %>
  <% end %>
</main>