<main class="container">
  <%= link_to sanitize("&larr; Back to leagues"), leagues_path %>

  <div class="header">
    <h1>New league</h1>
  </div>

  <%= turbo_frame_tag @league do %>
    <%= render "form", league: @league %>
  <% end %>
</main>